.Music {
    display: flex;
    background: rgb(6, 150, 90);
    border-radius: 30%;
    font-family: "Bradley MT", "Bradley", monospace;
    font-size: 2vw;
    height: 3vw;
    align-items:center;
    padding: 1vw 2vw 1vw 2vw;
  }