
.Count {
    display: flex;
    background-color: rgb(78, 141, 168);
    border-radius: 60%;
    font-family: "Bradley MT", "Bradley", monospace;
    font-size: 3vw;
    height: 3vw;
    align-items:center;
    padding: 1vw 3vw 1vw 3vw;
} 